# Ponto de Conexão com o Supabase (String PostgreSQL Completa)
SUPABASE_DB_URL=postgresql://postgres.NOMEDOPROJETO:[SUA_SENHA_DO_BANCO]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres

# Credenciais do Gmail Institucional
EMAIL_USER=repositoriocpd@edu.itaguai.rj.gov.br
# ATENÇÃO: Use a "Senha de App" gerada no painel de Segurança da Conta Google. Não use sua senha web normal!
EMAIL_PASSWORD=sua-senha-de-app-aqui

# Destinatário Oficial dos Alertas
EMAIL_TO=repositoriocpd@edu.itaguai.rj.gov.br

# Chave de Criptografia AES (Para geração, rode: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
AES_KEY=cole-sua-chave-gerada-aqui
